@import "tailwindcss";

@theme {

  /* 🌿 Green Theme */
  --color-button: #064E3B;
  --color-accent: #059669;
  --color-body: #F5F1E8;
  --color-light: #ECFDF5;
  --color-border: #A7F3D0;
  --color-text: #022C22;
  --color-muted: #047857;

  /* Fonts */
  --font-poppins: var(--font-poppins);
  --font-cantata: var(--font-cantata);
}